<!DOCTYPE html>
<html>
  <head>
    <title>TD's URL shortener</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="/">TD's Url shortener</a>
      </nav>
    </header>
    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
